/* fonts */
@mixin font-bold {
  font-weight: 700;
}

@mixin font-medium {
  font-weight: 500;
}

/* other */
@mixin transition {
  transition: 0.2s ease-out;
}

@mixin max-width {
  max-width: $xl;
  margin: 0 auto;
}
